<header>
  <nav>
    <%= link_to t('.back'), diary_path(@diary) %>
  </nav>
</header>

<%= render 'entry', :entry => @entry %>

<footer>
  <nav>
    <%= link_to t('.back'), diary_path(@diary) %>
  </nav>
</footer>
