
<nav>
  <%= link_to "Back to diary", diary_path(@diary) %>
</nav>

<table>
  <tr>
    <th>Time</th>
    <% @opt_columns.each do |col| %>
      <th><%= link_to(col.name, diary_opt_column_path(@diary, col)) %></th>
    <% end %>
  </tr>
  <% @opt_records.each do |rec| %>
    <tr>
      <td><%= l(rec.time, :format => :short) %></td>
      <% @opt_columns.each do |col| %>
	<td><%= rec.value[col.ckey] || "-" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
