<% if signed_in? %>
<h1>This is your page</h1>
<% else %>
<h1>Welcome to Volvox</h1>

<p>
  Volvox helps you keep tracking of body conditions of your pet animals.
</p>

<%= link_to "Sign up", signup_path, :class => "signup_button round" %>
<% end %>