
/* 
 * using color scheme: http://colorschemedesigner.com/#0n41Tuullw0w0
 */

body {
  background: #6F2C03;
}

div.container {
  width: 710px;
}

header {
  margin-bottom: 10px;
  text-align: center;

  nav {
    color: white;

    ul {
      margin: 0;
      padding: 0;

      li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;

	a {
	  color: #D4AB65;
	  padding: 0 5px;
	  font-weight: bold;
	}

	a:visited {
	  color: #D49C3D;
	}
      }
    }
  }
}

.main {
  background: #FFF8DC;
  padding: 20px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 200px;
  background: #024738;
  color: white;
  font-size: 30px;
  padding: 15px;
  text-decoration: none;
}
a.signup_button:hover {
  text-decoration: underline;
}


section.console {
  font-family: monospace;
  background: white;
  border: solid 2px steelblue;
  padding: 5px;
  margin-top: 20px;
}


div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
